<<<<<<< HEAD
<h1>Add an Ingredient</h1>
=======
  <h1>Add an Ingredient</h1>
>>>>>>> 63287849b2a6bb0642e2ec85085ab39f85f7c263
  <form action="/ingredients" method="POST">
    <input type="text" name="ingredient_name"/>
    <input type="text" name="ing_img_url"/>
    <input type="text" name="ing_desc"/>
    <button>Create</button>
  </form>

