<<<<<<< HEAD
<h2>Edit Ingredient</h2>
=======
 <h2>Edit Ingredient</h2>
>>>>>>> 63287849b2a6bb0642e2ec85085ab39f85f7c263
  <form action="/items/<%= @ing.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <input type="text" name="content" value="<%= @ing.ing_name %>"/>
    <input type="text" name="content" value="<%= @ing.ing_img_url %>"/>
    <input type="text" name="content" value="<%= @ing.desc %>"/>
    <button>Update</button>
<<<<<<< HEAD
  </form>
=======
  </form>
>>>>>>> 63287849b2a6bb0642e2ec85085ab39f85f7c263
