  <h1>Add an Ingredient</h1>
  <form action="/ingredients" method="POST">
    <input type="text" name="ingredient_name"/>
    <input type="text" name="ing_img_url"/>
    <input type="text" name="ing_desc"/>
    <button>Create</button>
  </form>

