<h2>Edit Ingredient</h2>
  <form action="/ingredients/<%= @ing.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <input type="text" name="ingredient_name" value="<%= @ing.ingredient_name %>"/>
    <button>Update</button>
  </form>
