<!DOCTYPE html>
<html>
<head>
  <title>What's For Dinner?</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <%= yield %>

</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 63287849b2a6bb0642e2ec85085ab39f85f7c263
