
<body class="bg-dark">
<div class="container">
<div class="card mt-5">
<h3 class="text-center my-5">Log in here!</h2>
<div class="card">
<form action="/users/login" method="POST">
<div class="form-group">
  <input class="form-control" type="text" name="username" placeholder="username" />   
  </div> 
  <div class="form-group">
  <input class="form-control" type="password" name="password" placeholder="password">
  </div>
  <button class="btn btn-primary">Log in</button>
  </div>
</form>
</div>


</div>

</body>