<h1>Here is a list of all of the Meals</h1>
<ul>
<% @meals.each do |meal| %>
   <li>
   <%= meal %>
        <form action="/meals/<%= meal.id %>/edit">
            
            <button>Edit</button>
        </form>
        <form action="/meals/<%= meal.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
        </form>
   </li>
   <% end %>