<h1>Add a Dinner</h1>
  <form action="/meals" method="POST">
    <input type="text" name="meal_name"/>
    <input type="text" name="meal_img_url"/>
    <input type="text" name="meal_recipe_url"/>
    <button>Create</button>
  </form>