<h2>Sign up here!</h2>
<form action="/users/register" method="POST">
  <input type="text" name="username" placeholder="username" />    
  <input type="password" name="password" placeholder="password">
  <button>Register</button>
</form>
<small>Already have an account? <a href="/users/login">Log in here!</a></small>`